body {
  margin: 0;
  padding: 0;
  background-color: #f6f9fc;
}

table {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  border-spacing: 0;
  color: #4a4a4a;
}

td {
  padding: 0;
}

img {
  border: 0;
}

a {
  text-decoration: none;
  color: #388cda;
  font-size: 16px;
}

.wrapper {
  width: 100%;
  table-layout: fixed;
  background-color: #f6f9fc;
  padding-bottom: 40px;
}

.webkit {
  max-width: 600px;
  background-color: #ffffff;
}

.outer {
  /* margin: 0 auto;
  width: 100%;
  max-width: 600px; */
  /* border-spacing: 0; */
  font-family: sans-serif;
  color: #4a4a4a;
}

.three-columns {
  text-align: center;
  font-size: 0;
  padding-top: 40px;
  padding-bottom: 30px;
}

.three-columns .column {
  width: 100%;
  max-width: 200px;
  display: inline-block;
  vertical-align: top;
}

.padding {
  padding: 25px;
}

.three-columns .content {
  font-size: 15px;
  line-height: 20px;
}

/*

.initial {
  width: 100%;
  border-spacing: 0;
}

.bg {
  background-color: #388cda;
  padding: 10px;
  text-align: center;
}

.logo {
  width: 200px;
}

.main {
  width: 600px;
  max-width: 100%;
}

.arc {
  width: 150px;
  max-width: 150px;
}

.padding {
  padding: 25px;
}

.add {
  width: 100%;
  border-spacing: 0;
}

.three-columns .add {
  font-size: 15px;
  line-height: 20px;
}

.m-text {
  padding: 10px;
  justify-content: center;
}

.text-ref {
  font-size: 17px;
  font-weight: bold;
}

.footer-s {
  width: 100%;
  border-spacing: 0;
}

.footer-c {
  background-color: #388cda;
  padding: 15px;
  text-align: center;
}

.footer-p {
  font-size: 18px;
  color: #ffffff;
  margin: 13px;
}

.social {
  width: 30px;
}

.footer-sub {
  background-color: #efefef;
}

.footer-end {
  width: 100%;
  border-spacing: 0;
}

.represent-sb {
  padding: 20px;
  text-align: center;
  padding-bottom: 10px;
}

.represent {
  padding: 20px;
  text-align: center;
}

.footer-arcade {
  width: 160px;
}

.footer-name {
  font-size: 16px;
  margin-top: 18px;
  margin-bottom: 10px;
}
.subs {
  font-size: 13px;
  padding-bottom: 25px;
}

.small {
  height: 20px;
  background-color: #388cda;
} */

/* .footer-str {
  font-size: 16px;
  margin-top: 18px;
} */

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 400px) {
}
